@{
    ViewData["Title"] = "Empreendimentos";
    //Layout = "~/Views/Shared/_Main.cshtml";
}
<section class="content-header">
    <h1>
        Empreendimentos
        <small>Listagem de todos os empreendimentos</small>
    </h1>
    <ol class="breadcrumb">

        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Empreendimentos</li>
    </ol>
</section>
<br />
<div class="row col-md-12 btn-add">
    <a href="@Url.Action("Cadastrar","Empreendimento")" class="btn btn-primary pull-right" title="Cadastrar novo"><i class="fa fa-plus"></i></a>
</div>
<br />
<br />
<div class="box">
    <table id="lstEmpreendimento" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Metragem Inicial</th>
                <th>Metragem Final</th>
                <th>Endereco</th>
                <th>Descricao</th>
                <th>Concluída</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            @foreach (tb_empreendimento item in ViewBag.Empreendimentos)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.MetragemInicial m²</td>
                    <td>@item.MetragemFinal m²</td>
                    <td>@item.Endereco , @item.Complemento , @item.Numero</td>
                    <td><p>@item.Descricao</p></td>
                    <td style="text-align: center;">
                        @if (item.Terminado)
                        {
                            <input type="checkbox" checked disabled />
                        }
                        else
                        {
                            <input type="checkbox" disabled />
                        }
                    </td>
                    <td style="text-align: center;">
                        <a href="@Url.Action("Editar/" + item.Id.ToString(),"Empreendimento")" class="icone-editar"><i class="fa fa-edit"></i></a>
                        <a class="icone-remover" href="@Url.Action("Deletar/" + item.Id,"Empreendimento")"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#lstEmpreendimento').DataTable({
            "paging": true,
            "ordering": true,
            "bFilter": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
            }
        });
    });
</script>